<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <header class="row w-100 align-items-center justify-content-start mt-3 mb-3">
            <form class="mr-4 align-items-center justify-content-center" action="/back" method="get">
                <input class="btn btn-primary" type="submit" value="Home page">
            </form>
            <h1>Face anti-spoofing application</h1>
        </header>

        <!-- Notification -->
        {% if message %}
        <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 80px;">
            <div class="toast" style="position: absolute; top: 0; right: 0;">
                <div class="toast-header">
                    <strong class="mr-auto">Notification</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    {{message}}
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Model controller -->
        <form class="row mt-2 justify-content-around m-3 d-flex flex-wrap" action="/phonecamera" method="post">
            <div class="col-xl-5 col-md-10">
                <div class="row">
                    <span class="w-25">Face detector:</span>
                    <select class="form-select w-50" name="face-detector-btn">
                        {% for o in face_detectors %}
                        {% if o == selected_face_detector %}
                        <option value="{{o}}" selected>{{o}}</option>
                        {% else %}
                        <option value="{{o}}">{{o}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-xl-6 col-md-10">
                <div class="row">
                    <span class="w-25">Spoof detector:</span>
                    <select class="form-select w-50" name="fas-model-btn">
                        {% for o in fas_models %}
                        {% if o == selected_fas_model %}
                        <option value="{{o}}" selected>{{o}}</option>
                        {% else %}
                        <option value="{{o}}">{{o}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row w-100 m-4 justify-content-around">
                {% if cam_on %}
                <span>Camera IP address: {{cam_ip}}</span>
                <input class="btn btn-warning" type="submit" name="stop" value="Stop">
                {% else %}
                <div class="input-group w-50">
                    <input type="text" class="form-control" placeholder="IP address" aria-label="Phone camera's IP address" name="cam_ip" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <!-- <button class="btn btn-success m-3" type="submit" name="start">Start</button> -->
                        <input class="btn btn-success" type="submit" name="start" value="Start">
                    </div>
                </div>
                {% endif %}
            </div>
        </form>

        <!-- Stream displayer -->
        {% if cam_on %}
        <div class="row m-4 justify-content-center" style="width: 100%; height: 450px">
            <img src="{{url_for('stream')}}" class="img-fluid"
                style="max-height:100%; max-width:100%; object-fit: contain; background: rgba(0, 0, 0, 0.2);">
        </div>
        {% endif %}

    </div>
</body>

</html>